:root {
    --button-color:#b91a03;
    --font-color: white;
    --font-color-imgContainer: #6457A6;
}
@font-face {
    font-family: Quicksand;
    src: url(Quicksand-font/Quicksand-VariableFont_wght.ttf);
}
body {
    background-image: url(pexels-craig-adderley-1563356.jpg);
    background-size: cover;
    backdrop-filter: blur(10px);
    margin: 0px;
    padding: 0px;
    color: var(--font-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Quicksand;
    color: var(--font-color);
}
h1, h2 {
    margin: 0px;
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}